<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/search.css">


    <title>Document</title>
</head>

<body>
    {{>header}}
    {{>search}}

    <div>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{#each data}}
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                        fill="#eceeef" dy=".3em">Thumbnail</text>
                                </svg>
                                <div class="card-body">
                                    <p class="card-text"> <b>{{this.name}}</b></p>
                                    <p class="card-text"> {{this.institute}} </p>
                                    <ul>
                                        <li>{{this.email}}</li>
                                        <li>{{this.contactNo}}</li>
                                        {{!-- <li>Adress</li>
                                    <li>Website</li> --}}
                                    </ul>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <p>Your search yielded no results. </p>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>

    {{>footer}}
</body>

<script>

    function updateAction() {

        var nameInput = document.getElementById("searchForm").elements["search2"];
        var locationInput = document.getElementById("searchForm").elements["location"];
        var courseInput = document.getElementById("searchForm").elements["course"];
        var universitySelect = document.getElementById("searchForm").elements["university"];

        // Check if the "s" query parameter is empty and remove it
        if (nameInput.value === "") {
            nameInput.removeAttribute("name");
        }

        // Check if the "course" query parameter is empty and remove it
        if (courseInput.value === "") {
            courseInput.removeAttribute("name");
        }

        // Check if the "university" is not selected, and remove it if it's empty
        if (universitySelect.selectedIndex === 0) {
            universitySelect.removeAttribute("name");
        }
    }






</script>

</html>