<ul>
  {{#each facultyProfiles}}
    <li>Name: {{name}}</li>
    <li><img src="data:image/jpeg;base64,{{photo}}" alt="{{name}} Photo"></li>
    <li>Email: {{email}}</li>
    <li>Contact: {{contact}}</li>
    <li>Website: <a href="{{website}}">{{website}}</a></li>
    <li>Address: {{address}}</li>
    <li>Designation: {{designation}}</li>
    <li>Education: {{education}}</li>
    <li>Publications: {{publications}}</li>
    <li>Courses Taught: {{coursesTaught}}</li>
    <li>Specialization: {{specialization}}</li>
    <li>Biography: {{biography}}</li>
    <hr>
  {{/each}}
</ul>
